body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home-wrapper {
  display: flex;
}

.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found h1 {
  display: flex;
  align-items: center;
}

/* Restaurant page styling */

.restaurant-main-photo {
  height: 350px;
  background-color: gray;
  background-image: url('./assets/img/istockphoto-1125926284-612x612.jpg');
}

.restaurant-name-and-rating {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
}